<div class="container-projects">
  <ul class="col-1">
    <li class="flex-item"><%= cl_image_tag(projects[0].picture.path) if projects[0].present? && projects[0].picture.present? %>
      <div class="project-text">
        <% if projects[0].present? %>
          <h3 class="title-small"><%= projects[0].title %></h3>
          <%= link_to project_path(projects[0][:id]), class: 'btn-ouibeat waves-effect waves-light' do %>
            Voir le projet
          <% end %>
        <% end %>
      </div>
    </li>
    <li class="flex-item"><%= cl_image_tag(projects[1].picture.path) if projects[1].present? && projects[1].picture.present? %>
      <div class="project-text">
        <% if projects[1].present? %>
          <h3 class="title-small"><%= projects[1].title %></h3>
          <%= link_to project_path(projects[1][:id]), class: 'btn-ouibeat waves-effect waves-light' do %>
            Voir le projet
          <% end %>
        <% end %>
      </div>
    </li>
    <li class="flex-item"><%= cl_image_tag(projects[2].picture.path) if projects[2].present? && projects[2].picture.present? %>
      <div class="project-text">
        <% if projects[2].present? %>
          <h1 class="name"><%= projects[2].name %></h1>
          <h3 class="title-large"><%= projects[2].title %></h3>
          <%= link_to project_path(projects[2][:id]), class: 'btn-ouibeat waves-effect waves-light' do %>
            Voir le projet
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
  <ul class="col-2">
    <li class="flex-item"><%= cl_image_tag(projects[3].picture.path) if projects[3].present? && projects[3].picture.present? %>
      <div class="project-text">
        <% if projects[3].present? %>
          <h3 class="title-small"><%= projects[3].title %></h3>
          <%= link_to project_path(projects[3][:id]), class: 'btn-ouibeat waves-effect waves-light' do %>
            Voir le projet
          <% end %>
        <% end %>
      </div>
    </li>
    <li class="flex-item"><%= cl_image_tag(projects[4].picture.path) if projects[4].present? && projects[4].picture.present? %>
      <div class="project-text">
        <% if projects[4].present? %>
          <h3 class="title-small"><%= projects[4].title %></h3>
          <%= link_to project_path(projects[4][:id]), class: 'btn-ouibeat waves-effect waves-light' do %>
            Voir le projet
          <% end %>
        <% end %>
      </div>
    </li>
    <li class="flex-item"><%= cl_image_tag(projects[5].picture.path) if projects[5].present? && projects[5].picture.present? %>
      <div class="project-text">
        <% if projects[5].present? %>
          <h3 class="title-small"><%= projects[5].title %></h3>
          <%= link_to project_path(projects[5][:id]), class: 'btn-ouibeat waves-effect waves-light' do %>
            Voir le projet
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
  <ul class="col-3">
    <li class="flex-item">
      <%= cl_image_tag(projects[6].picture.path) if projects[6].present? && projects[6].picture.present? %>
      <div class="project-text">
        <% if projects[6].present? %>
          <h1 class="name"><%= projects[6].name %></h1>
          <h3 class="title-large"><%= projects[6].title %></h3>
          <%= link_to project_path(projects[6][:id]), class: 'btn-ouibeat waves-effect waves-light' do %>
            Voir le projet
          <% end %>
        <% end %>
      </div>
    </li>
    <li class="flex-item"><%= cl_image_tag(projects[7].picture.path) if projects[7].present? && projects[7].picture.present? %>
      <div class="project-text">
        <% if projects[7].present? %>s
          <h3 class="title-small"><%= projects[7].title %></h3>
          <%= link_to project_path(projects[7][:id]), class: 'btn-ouibeat waves-effect waves-light' do %>
            Voir le projet
          <% end %>
        <% end %>
      </div>
    </li>
    <li class="flex-item"><%= cl_image_tag(projects[8].picture.path) if projects[8].present? && projects[8].picture.present? %>
      <div class="project-text">
        <% if projects[8].present? %>
          <h3 class="title-small"><%= projects[8].title %></h3>
          <%= link_to project_path(projects[8][:id]), class: 'btn-ouibeat waves-effect waves-light' do %>
            Voir le projet
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
</div>


