<div class="container">
  <ul class="collection">
    <% @projects.each do |project| %>
      <li class="collection-item">
        <span class="title"><%= project.name %></span>
        <span class="title"><%= project.title %></span>
        <span class="title"><%= project.sub_title %></span>
        <span class="title"><%= project.text %></span>
        <% project.pictures.each do |picture| %>
          <%= cl_image_tag picture.path, width: 100, height: 100, crop: :fill %>
        <% end %>
        <span class="position"><%#= project.position %></span>
        <% if project.logo? %>
          <%= cl_image_tag project.logo.path, width: 100, height: 100, crop: :fill %>
        <% end %>
         <!-- EDIT project -->
        <%= link_to edit_project_path(project[:id]) do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></p>
        <% end %>
        <!-- DELETE project -->
        <%= link_to project_path(project[:id]), method: :delete do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <!-- NEW project -->
  <%= link_to new_project_path do %>
    <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></p>
  <% end %>
</div>
