<% body_class "admin" %>

<%= render 'shared/sidebar_admin' %>

<div class="page-content">
  <h3>Création paragraphe</h3>
  <div class="row">
    <div class="col s10 offset-s1">
      <%= simple_form_for [:admin, @project, @detail] do |f| %>
        <%= f.input :text %>
        <%= f.input :link %>
        <%= f.input :pictures, as: :attachinary %>
        <%= f.submit "Créer", class: "waves-effect waves-light btn" %>
      <% end %>
        <!-- BACK TO edit Project -->
        <%= link_to  admin_project_details_path(project_id: @project.id) do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">skip_previous</i></p>
        <% end %>
    </div>
  </div>
</div>
