<% body_class "admin" %>

<%= render 'shared/sidebar_admin' %>

<div class="page-content">
  <div class="page-header">
    <h3>Créer un contenu</h3>
    <!-- BACK TO index logos -->
    <%= link_to admin_project_details_path(project_id: @project.id) do %>
      <div class="btn-go-back waves-effect waves-light"><i class="material-icons">navigate_before</i>Retour à la page précédente</div>
    <% end %>
  </div>

  <div class="content-container">
    <%= simple_form_for [:admin, @project, @detail] do |f| %>
      <%= f.input :text, :label => "Contenu du paragraphe", input_html: { rows: 10 }  %>
      <%= f.input :link, :label => "URL de la vidéo" %>
      <%= f.input :pictures, as: :attachinary, :label => "Ajouter une image (max : 2)" %>
      <%= f.submit "Créer", class: "btn-add-content waves-effect waves-light" %>
    <% end %>
  </div>
</div>
