<h3>Dashboard</h3>

<%= link_to destroy_user_session_path, method: :delete do %>
  <span class="waves-effect waves-light btn">Se déconnecter</span>
<% end %>

<div class="row">
  <div class="col s8">
    <ul class="tabs">
      <li class="tab col s2"><a class="active" href="#logos">Logos</a></li>
      <li class="tab col s2"><a href="#projects">Projets</a></li>
      <li class="tab col s2"><a href="#jobs">Jobs</a></li>
    </ul>
  </div>
  <div id="logos" class="col s12">
    <%= render "logos/shared/tab_index" %>
  </div>
  <div id="projects" class="col s12">
    <ul class="indicators">
      <li><span>Nombre de projets créés : <%= @projects.count %></li>
      <li><span>Nombre de projets actifs : <%= @projects.active.count %></li>
      <li><span>Nombre de projets actifs "Social Wall" : <%= @projects.active.social_wall.count %></li>
      <li><span>Nombre de projets actifs "Borne connectées" : <%= @projects.active.borne.count %></li>
      <li><span>Nombre de projets actifs "Conception digitale" : <%= @projects.active.conception.count %></li>
    </ul>
    <%= render "projects/shared/tab_index" %>
  </div>
  <div id="jobs" class="col s12">
    <%= render "jobs/shared/tab_index" %>
  </div>
</div>
