<footer>
  <div class="container footer-content">
    <div class="row">
      <%= image_tag 'logos/main-logo.svg', class: 'footer-logo' %>
    </div>
    <div class="row">
      <div class="col m3 pages">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Social Wall', socialwall_path %></li>
          <li><%= link_to 'Bornes connectées', borne_connectee_path %></li>
          <li><%= link_to 'Conception digitale', conception_digitale_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
      </div>
      <div class="col m3 corporate">
        <ul>
          <% if current_page?(root_path) %>
            <li><%= link_to 'À propos', '#who-are-we' %></li>
          <% else %>
            <li><%= link_to 'À propos', '/#who-are-we' %></li>
          <% end %>
          <li><%= link_to 'Carrière', jobs_path %></li>
          <li><%= link_to 'Presse', '/' %></li>
          <li><%= link_to 'Certification', certification_path %></li>
        </ul>
      </div>
      <div class="col m6 network">
        <div class='social'>
          <span>Suivez-nous</span>
          <ul class='social-grid'>
            <li>
              <%= link_to 'https://www.facebook.com/OuiBeat/' do%>
                <%= image_tag 'shared/footer/footer-icon-facebook.svg' %>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://twitter.com/ouibeat' do%>
                <%= image_tag 'shared/footer/footer-icon-twitter.svg' %>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://www.instagram.com/ouibeat/' do%>
                <%= image_tag 'shared/footer/footer-icon-instagram.svg' %>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://vimeo.com/ouibeat' do%>
                <%= image_tag 'shared/footer/footer-icon-vimeo.svg' %>
              <% end %>
            </li>
            <li>
              <%= link_to 'https://www.linkedin.com/company/agence-ambassador' do%>
                <%= image_tag 'shared/footer/footer-icon-linkedin.svg' %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="newsletter">
          <span>Inscrivez-vous à la newsletter</span>
          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form action="//ouibeat.us9.list-manage.com/subscribe/post?u=7f659a3a9f99613ccc2cc33db&amp;id=33859b0a30" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <input type="email" value="" placeholder="Votre email" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7f659a3a9f99613ccc2cc33db_33859b0a30" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <ul class="copyright">
        <li>Copyright © 2016 OuiBeat, Tous droits réservés</li>
        <li><%= link_to "Conditions d'utilisation", '/' %></li>
        <li><%= link_to "Politique de confidentialité", '/' %></li>
      </ul>
    </div>
  </div>
</footer>

<% content_for(:after_js) do %>

  <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';fnames[4]='MMERGE4';ftypes[4]='text';fnames[5]='MMERGE5';ftypes[5]='text';fnames[6]='MMERGE6';ftypes[6]='text';fnames[7]='MMERGE7';ftypes[7]='text';fnames[8]='MMERGE8';ftypes[8]='text';fnames[9]='MMERGE9';ftypes[9]='text';fnames[10]='MMERGE10';ftypes[10]='text';fnames[11]='MMERGE11';ftypes[11]='text';}(jQuery));
  </script>

<% end %>
