<div class="navbar-disclaimer valign-wrapper">
  <span class="center-align">Social Wall</span>
</div>

<nav id="navbar" class="navbar">
  <div class="nav-wrapper">
    <%= link_to root_path, class: "brand-logo" do %>
      <%= image_tag 'logos/main-logo.svg' %>
    <% end %>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'Social wall', socialwall_path %></li>
      <li><a href="#">Borne connectée</a></li>
      <li><a href="#">Conception digitale</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#"><%= image_tag 'logos/facebook.svg', width: '9px' %></a></li>
      <li><a href="#"><%= image_tag 'logos/twitter.svg', width: '17px' %></a></li>
      <li><a href="#">Connexion</a></li>
    </ul>
  </div>
</nav>

<div id="sub-nav" class="sub-nav">
  <%= link_to 'Social wall', socialwall_path %>
  <%= link_to 'Plateforme', socialwall_plateforme_path %>
  <%= link_to 'Solution', socialwall_solution_path %>
  <%= link_to 'Portfolio', '/' %>
</div>

