<% if current_page?(root_path) %>
  <div class="navbar-disclaimer valign-wrapper">
    <span class="center-align">Propulseur d'expérience digitale</span>
  </div>
<% elsif current_page?(socialwall_path) || current_page?(socialwall_plateforme_path) || current_page?(socialwall_solution_path) %>
  <div class="navbar-disclaimer valign-wrapper">
    <span class="center-align">Social wall</span>
  </div>
<% elsif current_page?(borne_connectee_path) %>
  <div class="navbar-disclaimer valign-wrapper">
    <span class="center-align">Borne connectée modulable</span>
  </div>
<% elsif current_page?(conception_digitale_path) %>
  <div class="navbar-disclaimer valign-wrapper">
    <span class="center-align">Conception digitale</span>
  </div>
<% else %>
<% end %>

<nav id="navbar" class="navbar">
  <div class="nav-wrapper">
    <%= link_to root_path, class: "brand-logo" do %>
      <%= image_tag 'logos/main-logo.svg' %>
    <% end %>
    <ul class="right hide-on-med-and-down">
      <li class="<%= 'active' if current_page?(socialwall_path) || current_page?(socialwall_plateforme_path) || current_page?(socialwall_solution_path) %>">
        <%= link_to 'Social wall', socialwall_path %>
      </li>
      <li class="<%= 'active' if current_page?(borne_connectee_path) %>">
        <%= link_to 'Borne connectée', borne_connectee_path %>
      </li>
      <li class="<%= 'active' if current_page?(conception_digitale_path) %>">
        <%= link_to 'Conception digitale', conception_digitale_path %>
      </li>
      <li class="<%= 'active' if current_page?(contact_path) %>">
        <%= link_to 'Contact', contact_path %>
      </li>
      <li>
        <a href="https://www.facebook.com/OuiBeat/"><%= image_tag 'logos/facebook.svg', width: '9px' %></a>
      </li>
      <li>
        <a href="https://twitter.com/ouibeat"><%= image_tag 'logos/twitter.svg', width: '17px' %></a>
      </li>
      <li>
        <a href="http://app.ouibeat.com/login">Connexion</a>
      </li>
    </ul>

    <div id="small-device-toggle" class="small-device-toggle hide-on-large-only">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>

<div id="small-device-menu" class="small-device-menu hide-on-large-only">
  <ul class="center-align">
    <li><%= link_to 'Social wall', socialwall_path %></li>
    <li><%= link_to 'Borne connectée', borne_connectee_path %></li>
    <li><%= link_to 'Conception digitale', conception_digitale_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><a href="http://app.ouibeat.com/login">Connexion</a></li>
  </ul>
  <div class="social-links">
    <a href="https://www.facebook.com/OuiBeat/"><%= image_tag 'logos/facebook-dark.svg', width: '9px' %></a>
    <a href="https://twitter.com/ouibeat"><%= image_tag 'logos/twitter-dark.svg', width: '17px' %></a>
  </div>
</div>

<% if current_page?(socialwall_path) || current_page?(socialwall_plateforme_path) || current_page?(socialwall_solution_path) %>
  <div id="sub-nav" class="sub-nav">
    <ul>
      <li class="<%= 'active' if current_page?(socialwall_path) %>">
        <%= link_to 'Présentation', socialwall_path %>
      </li>
      <li class="<%= 'active' if current_page?(socialwall_plateforme_path) %>">
        <%= link_to 'Plateforme', socialwall_plateforme_path %>
      </li>
      <li class="<%= 'active' if current_page?(socialwall_solution_path) %>">
        <%= link_to 'Solution', socialwall_solution_path %>
      </li>
    </ul>
  </div>
<% end %>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('#small-device-toggle').click(function(){
        $(this).toggleClass('open');
        $('#small-device-menu').toggleClass('small-device-show-menu');
      });

      $(window).scroll(function() {
        if( $(this).scrollTop() > 30 ) {
          $('#small-device-menu').css('padding-top', '0px');
        } else {
          $('#small-device-menu').css('padding-top', '30px');
        }
      });
     });
  </script>
<% end %>