<% if current_page?(root_path) %>
  <div class="navbar-disclaimer valign-wrapper">
    <span class="center-align">Propulseur d'expériences digitales</span>
  </div>
<% elsif current_page?(socialwall_path) || current_page?(socialwall_plateforme_path) || current_page?(socialwall_solution_path) %>
  <div class="navbar-disclaimer valign-wrapper">
    <span class="center-align">Prenez en main la 1ère plateforme utilisée en France, Belgique et Suisse</span>
  </div>
<% elsif current_page?(borne_connectee_path) %>
  <div class="navbar-disclaimer valign-wrapper">
    <span class="center-align">Utilisez désormais la borne la plus connectée du marché</span>
  </div>
<% elsif current_page?(conception_digitale_path) %>
  <div class="navbar-disclaimer valign-wrapper">
    <span class="center-align">Faites appel à notre équipe experte dans la digitalisation</span>
  </div>
<% else %>
<% end %>

<nav id="navbar" class="navbar">
  <div class="nav-wrapper">
    <%= link_to root_path, class: "brand-logo" do %>
      <%= image_tag 'logos/main-logo.svg' %>
    <% end %>
    <ul class="right hide-on-med-and-down">
      <li class="<%= 'active' if current_page?(socialwall_path) || current_page?(socialwall_plateforme_path) || current_page?(socialwall_solution_path) %>">
        <%= link_to 'Social wall', socialwall_path %>
      </li>
      <li class="<%= 'active' if current_page?(borne_connectee_path) %>">
        <%= link_to 'Borne connectée', borne_connectee_path %>
      </li>
      <li class="<%= 'active' if current_page?(conception_digitale_path) %>">
        <%= link_to 'Conception digitale', conception_digitale_path %>
      </li>
      <li class="<%= 'active' if current_page?(contact_path) %>">
        <%= link_to 'Contact', contact_path %>
      </li>
      <li>
        <a href="https://www.facebook.com/OuiBeat/">
          <!-- <#= image_tag 'logos/facebook.svg', width: '9px', class: 'icon-facebook' #> -->
          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
          <svg class="icon-facebook" width="14px" height="25px" viewBox="0 0 14 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M9.927,5.54 L13.02,5.54 L13.02,0.971 L9.384,0.971 L9.384,0.9875 C4.9785,1.1435 4.0755,3.62 3.996,6.221 L3.987,6.221 L3.987,8.5025 L0.987,8.5025 L0.987,12.977 L3.987,12.977 L3.987,24.971 L8.508,24.971 L8.508,12.977 L12.2115,12.977 L12.927,8.5025 L8.5095,8.5025 L8.5095,7.124 C8.5095,6.245 9.0945,5.54 9.927,5.54 L9.927,5.54 Z" id="Shape" fill="#FFFFFF"></path>
              </g>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/ouibeat">
          <!-- <#= image_tag 'logos/twitter.svg', width: '17px', class: 'icon-twitter' #> -->
          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
          <svg class="icon-twitter" width="30px" height="25px" viewBox="0 0 30 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
              <title>Shape</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <path d="M29.9,2.88482633 C28.7921389,3.37842779 27.6074954,3.70749543 26.3680073,3.85009141 C27.6404022,3.09323583 28.6166362,1.88665448 29.0773309,0.449725777 C27.8817185,1.15173675 26.5654479,1.66727605 25.161426,1.94149909 C24.042596,0.745886654 22.4411335,0 20.6751371,0 C17.2747715,0 14.5215722,2.75319927 14.5215722,6.1535649 C14.5215722,6.63619744 14.5764168,7.10786106 14.686106,7.55758684 C9.56361974,7.29433272 5.03345521,4.84826325 1.99506399,1.1297989 C1.46855576,2.04021938 1.16142596,3.09323583 1.16142596,4.22303473 C1.16142596,6.36197441 2.24734918,8.23765996 3.90365631,9.34552102 C2.89451554,9.31261426 1.9511883,9.03839122 1.11755027,8.57769653 L1.11755027,8.65447898 C1.11755027,11.6380256 3.2345521,14.1170018 6.0535649,14.6873857 C5.53802559,14.8299817 4.98957952,14.9067642 4.43016453,14.9067642 C4.03528336,14.9067642 3.65137112,14.8628885 3.26745887,14.797075 C4.04625229,17.2431444 6.32778793,19.0201097 9.01517367,19.0749543 C6.90914077,20.7202925 4.25466179,21.7074954 1.36983547,21.7074954 C0.876234004,21.7074954 0.382632541,21.6745887 -0.1,21.6197441 C2.6202925,23.3638026 5.85612431,24.3839122 9.33327239,24.3839122 C20.6531993,24.3839122 26.8396709,15.0054845 26.8396709,6.87751371 C26.8396709,6.6142596 26.828702,6.34003656 26.8177331,6.07678245 C28.0352834,5.19926874 29.0773309,4.11334552 29.9,2.88482633 L29.9,2.88482633 Z" id="Shape" fill="#FFFFFF"></path>
              </g>
          </svg>
          </a>
      </li>
      <li>
        <a href="http://app.ouibeat.com/login">Connexion</a>
      </li>
    </ul>

    <div id="small-device-toggle" class="small-device-toggle hide-on-large-only">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>

<div id="small-device-menu" class="small-device-menu hide-on-large-only">
  <ul class="center-align">
    <li><%= link_to 'Social wall', socialwall_path %></li>
    <li><%= link_to 'Borne connectée', borne_connectee_path %></li>
    <li><%= link_to 'Conception digitale', conception_digitale_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><a href="http://app.ouibeat.com/login">Connexion</a></li>
  </ul>
  <div class="social-links">
    <a href="https://www.facebook.com/OuiBeat/"><%= image_tag 'logos/facebook-dark.svg', width: '9px' %></a>
    <a href="https://twitter.com/ouibeat"><%= image_tag 'logos/twitter-dark.svg', width: '17px' %></a>
  </div>
</div>

<% if current_page?(socialwall_path) || current_page?(socialwall_plateforme_path) || current_page?(socialwall_solution_path) %>
  <div id="sub-nav" class="sub-nav">
    <ul>
      <li class="<%= 'active' if current_page?(socialwall_path) %>">
        <%= link_to 'Présentation', socialwall_path %>
      </li>
      <li class="<%= 'active' if current_page?(socialwall_plateforme_path) %>">
        <%= link_to 'Plateforme', socialwall_plateforme_path %>
      </li>
      <li class="<%= 'active' if current_page?(socialwall_solution_path) %>">
        <%= link_to 'Solution', socialwall_solution_path %>
      </li>
    </ul>
  </div>
<% end %>


<% content_for(:after_js) do %>
  <script>
    $(document).ready(function(){
      $('#small-device-toggle').click(function(){
        $(this).toggleClass('open');
        $('#small-device-menu').toggleClass('small-device-show-menu');
      });

      $(window).scroll(function() {
        if( $(this).scrollTop() > 30 ) {
          $('#small-device-menu').css('padding-top', '0px');
        } else {
          $('#small-device-menu').css('padding-top', '30px');
        }
      });
     });
  </script>
<% end %>