<nav id="sub-nav-filter" class="sub-nav-filter">
  <%= link_to 'All', projects_index_filter_path(filter: 'all'), remote: true, class: "filter selected" %>
  <%= link_to 'Social wall', projects_index_filter_path(filter: 'Social Wall'), remote: true, class: "filter" %>
  <%= link_to 'Borne connectée', projects_index_filter_path(filter: 'Borne'), remote: true, class: "filter" %>
  <%= link_to 'Conception digitale', projects_index_filter_path(filter: 'Conception'), remote: true, class: "filter" %>
</nav>

<%= render partial: "projects/shared/section_projects", locals: {projects: @projects} %>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      $('.filter').click(function() {
        $('.filter').removeClass('selected');
        $(this).addClass('selected');
      });
    });
  </script>
<% end %>
