<div class="side-nav fixed">
  <%= image_tag 'logos/main-logo.svg' %>
  <ul>
    <li class="waves-effect <%= 'active' if current_page?(admin_path) %>"><a href="/admin/logos"><i class="material-icons">photo</i> Logos</a></li>
    <li class="waves-effect <%= 'active' if current_page?(admin_projects_path) %>"><a href="/admin/projects"><i class="material-icons">folder_special</i> Projets</a></li>
    <li class="waves-effect <%= 'active' if current_page?(admin_jobs_path) %>"><a href="/admin/jobs"><i class="material-icons">business_center</i> Jobs</a></li>
  </ul>

  <div class="btn-logout">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="material-icons">clear</i>
      Se déconnecter
    <% end %>
  </div>
</div>




