<div class="social-container">
  <i>100% compatible avec :</i>
  <ul>
    <li><%= image_tag 'shared/icons/facebook.svg' %></li>
    <li><%= image_tag 'shared/icons/twitter.svg' %></li>
    <li><%= image_tag 'shared/icons/instagram.svg' %></li>
    <li><%= image_tag 'shared/icons/youtube.svg' %></li>
    <li><%= image_tag 'shared/icons/vimeo.svg' %></li>
    <li><%= image_tag 'shared/icons/periscope.svg' %></li>
    <li><%= image_tag 'shared/icons/linkedin.svg' %></li>
    <li><%= image_tag 'shared/icons/googleplus.svg' %></li>
    <li><%= image_tag 'shared/icons/pinterest.svg' %></li>
    <li><%= image_tag 'shared/icons/vine.svg' %></li>
    <li><%= image_tag 'shared/icons/rss.svg' %></li>
    <li><%= image_tag 'shared/icons/tumblr.svg' %></li>
  </ul>
</div>