<% body_class "admin" %>

<%= render 'shared/sidebar_admin' %>

<div class="page-content">
  <div class="page-header">
    <h3>Mise à jour de l'offre</h3>
    <!-- BACK TO index logos -->
    <%= link_to admin_jobs_path do %>
      <div class="btn-go-back waves-effect waves-light"><i class="material-icons">navigate_before</i>Retour à la page précédente</div>
    <% end %>
  </div>
  <div class="content-container">
    <%= simple_form_for [:admin, @job] do |f| %>
      <%= f.input :name, :label => 'Titre du poste' %>
      <%= f.input :picture, as: :attachinary, :label => "Sélectionner le fichier .pdf" %>
      <%= f.submit "Sauvegarder", class: "btn-add-content waves-effect waves-light" %>
    <% end %>
  </div>
</div>
