<% body_class "admin" %>

<%= render 'shared/sidebar_admin' %>

<div class="page-content">
  <h3>Liste des jobs</h3>
  <ul class="collection">
    <% @jobs.each do |job| %>
      <li class="collection-item">
        <p class="title">Job : <%= job.name %></p>
        <% if job.picture? %>
          <%= cl_image_tag job.picture.path, width: 100, height: 100, crop: :fill %>
        <% end %>
        <%= link_to edit_admin_job_path(job[:id]) do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></p>
        <% end %>
        <!-- DELETE job -->
        <%= link_to admin_job_path(job[:id]), method: :delete do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <!-- NEW job -->
  <%= link_to new_admin_job_path do %>
    <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></p>
  <% end %>
</div>

