<% body_class "admin" %>

<%= render 'shared/sidebar_admin' %>

<div class="page-content">
  <div class="page-header">
    <h3>Modifier cette étude de cas</h3>
    <!-- BACK TO index logos -->
    <%= link_to admin_projects_path do %>
      <div class="btn-go-back waves-effect waves-light"><i class="material-icons">navigate_before</i>Retour à la page précédente</div>
    <% end %>
  </div>

  <div class="content-container">
    <%= simple_form_for [:admin, @project] do |f| %>
      <%= f.input :title, :label => "Titre de l'étude" %>
      <%= f.input :name, :label => "Nom de l'annonceur" %>
      <%= f.input :date, :label => "Date de publication" %>
      <%= f.input :category, collection: ["Social Wall", "Borne", "Conception"], prompt: 'Sélectionnez une catégorie', :label => "Catégorie de l'étude" %>
      <%= f.input :active, collection: [['Oui', true ], ['Non', false ]], :label => "Publier l'étude ?"  %>
      <%= f.input :picture, as: :attachinary, :label => "Thumbnail de l'article" %>
      <%= f.input :logo, as: :attachinary, :label => "Logo de l'annonceur" %>
      <%= f.submit "Créer", class: "btn-add-content waves-effect waves-light" %>
    <% end %>
  </div>
</div>


