<% body_class "admin" %>

<%= render 'shared/sidebar_admin' %>

<div class="container">
  <h3>Liste des projets</h3>

  <ul class="indicators">
    <li><span>Nombre de projets créés : <%= @projects.count %></li>
    <li><span>Nombre de projets actifs : <%= @projects.active.count %></li>
    <li><span>Nombre de projets actifs "Social Wall" : <%= @projects.active.social_wall.count %></li>
    <li><span>Nombre de projets actifs "Borne connectées" : <%= @projects.active.borne.count %></li>
    <li><span>Nombre de projets actifs "Conception digitale" : <%= @projects.active.conception.count %></li>
  </ul>

  <ul class="collection">
    <% @projects.each do |project| %>
      <li class="collection-item">
        <p class="category">Catégorie : <%= project.category %></p>
        <p class="name">Annonceur : <%= project.name %></p>
        <p class="title">Titre : <%= project.title %></p>
        <% if project.picture? %>
          <p>Image principale :</p>
          <%= cl_image_tag project.picture.path, width: 100, height: 100, crop: :fill %>
        <% end %>
        <% if project.logo? %>
          <p>Logo :</p>
          <%= cl_image_tag project.logo.path, width: 100, height: 100, crop: :fill %>
        <% end %>
        <p class="active">Projet actif : <%= project.active %></p>
         <!-- EDIT project -->
        <%= link_to edit_admin_project_path(project[:id]) do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></p>
        <% end %>
        <!-- DELETE project -->
        <%= link_to admin_project_path(project[:id]), method: :delete do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></p>
        <% end %>
        <!-- INDEX liste des details project -->
        <%= link_to 'Paragraphes', admin_project_details_path(project_id: project.id), class: 'btn-ouibeat dark waves-effect waves-light' %>
      </li>
    <% end %>
  </ul>

  <!-- NEW project -->
  <%= link_to new_admin_project_path do %>
    <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></p>
  <% end %>

</div>
