<% body_class "admin" %>

<%= render 'shared/sidebar_admin' %>

<div class="page-content">
  <div class="page-header">
    <h3>Liste des études de cas</h3>
    <!-- NEW LOGO -->
    <%= link_to new_admin_project_path do %>
      <div class="btn-add-content waves-effect waves-light"><i class="material-icons">control_point</i>Ajouter une étude de cas</div>
    <% end %>
  </div>

  <ul class="indicators">
    <li><i class="number"><%= @projects.count %></i><span class="caption">Projets<br>créés</span></li>
    <li><i class="number"><%= @projects.active.count %></i><span class="caption">Projets<br>actifs</span></li>
    <li><i class="number"><%= @projects.active.social_wall.count %></i><span class="caption">Projets actifs<br>Social Wall</span></li>
    <li><i class="number"><%= @projects.active.borne.count %></i><span class="caption">Projets actifs<br>Borne Connectée</span></li>
    <li><i class="number"><%= @projects.active.conception.count %></i><span class="caption">Projets actifs<br>Conception Digitale</span></li>
  </ul>

  <ul class="collection">
    <% @projects.each do |project| %>
      <li class="collection-item">
        <p class="title"><%= project.title %> | <%= project.name %> | <%= project.category %></p>
        <div class="collection-item-content">
          <div class="case-imagery">
            <% if project.picture? %>
              <%= cl_image_tag project.picture.path, width: 150, height: 115, crop: :fill%>
            <% end %>
            <% if project.logo? %>
              <div class="case-logo">
                <%= cl_image_tag project.logo.path, width: 40, height: 40, crop: :fill %>
              </div>
            <% end %>
          </div>
          <div class="active">
            <% if project.active? %>
              <i class="material-icons published">fiber_manual_record</i>Publié
            <% else %>
              <i class="material-icons draft">fiber_manual_record</i>Brouillon
            <% end %>
          </div>
          <div class="add-details">
            <!-- INDEX liste des details project -->
            <%= link_to 'Ajouter/Modifier du contenu', admin_project_details_path(project_id: project.id), class: 'btn-ouibeat dark waves-effect waves-light' %>
          </div>
          <div class="update-item">
            <!-- EDIT project -->
            <%= link_to edit_admin_project_path(project[:id]) do %>
              <div class="btn-update waves-effect waves-light"><i class="material-icons">edit</i>Modifier cette étude</div>
            <% end %>
            <!-- DELETE project -->
            <%= link_to admin_project_path(project[:id]), method: :delete do %>
              <div class="btn-update waves-effect waves-light"><i class="material-icons">delete</i>Supprimer cette étude</div>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
