<% body_class "certification-action" %>

<%= render 'shared/navbar_projet' %>

<section class="section-certification">
  <div class="container">
    <div class="row">
      <div class="col m8 offset-m2">
        <h1 class="center-align">Nos certifications</h1>
        <p>Application certifiée auprès des principaux réseaux sociaux, OuiBeat offre le meilleur accès aux informations et contenus sociaux sans limite de volume, ni de délais.</p>
        <p>Avec plusieurs millions de requêtes quotidiennes, OuiBeat est le partenaire indispensable pour l’utilisation du contenu social dans votre campagne marketing. </p>
        <ul class="social-icons-list">
          <li><%= image_tag 'shared/icons/twitter.svg' %></li>
          <li><%= image_tag 'shared/icons/facebook.svg' %></li>
          <li><%= image_tag 'shared/icons/vine.svg' %></li>
          <li><%= image_tag 'shared/icons/instagram.svg' %></li>
          <li><%= image_tag 'shared/icons/youtube.svg' %></li>
          <li><%= image_tag 'shared/icons/tumblr.svg' %></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>