<% body_class "home-action" %>

<header class="valign-wrapper">
  <div class="home-header center-align">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-offset-md-2">
          <%= image_tag 'logos/main-logo.svg' %>
          <h2>Concepteur d'éxpériences sociales et connectées dédiées aux plus belles activations de marques</h2>
          <%= image_tag 'home/icone-mouse.svg' %>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- PROJECTS -->
<section>
  <div class="container">
    <h2>Nos projets</h2>
  <div class="carousel carousel-slider">
    <% @projects.each do |project| %>
      <%= link_to project_path(project[:id]), class: "carousel-item" do %>
        <%= render partial: "projects/shared/section_projects", locals: {project: project} %>
      <% end %>
    <% end %>
  </div>
</section>


<!-- LOGOS -->
<section>
  <div class="container">
    <h2>Nos soutiens</h2>
    <div class="row">
      <% @logos.in_groups_of(5) do |logos| %>
        <div class="col s12 l6">
           <%= render partial: "logos/shared/section_logos", locals: {logos: logos} %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      $('.carousel.carousel-slider').carousel({full_width: true, interval: 10});
      window.setInterval(function(){$('.carousel').carousel('next')},3000);
    });
  </script>
<% end %>






