<% body_class "home-action" %>
<% content_for :meta_title, "OuiBeat - Propulseur d’expériences e-sociales" %>
<% content_for :meta_description, 'Première plateforme de création de social walls événementiels et web dédiée aux marques et aux agences depuis 2013 en France, OuiBeat s’est très rapidement imposé comme un acteur essentiel dans la digitalisation des évènements avec pour principale expertise, l’utilisation des réseaux sociaux.' %>
<% content_for :meta_image, 'assets/images/meta/image.jpg' %>

<%= render 'shared/navbar' %>

<header class="main-layout">
  <div class="header-content center-align">
    <!-- Logo -->
    <%= image_tag 'logos/main-logo.svg', class: 'header-logo' %>
    <!-- Tagline -->
    <h1>Concepteur d'éxpériences sociales et connectées dédiées aux plus belles activations de marques</h1>
    <!-- Link Video -->
    <%= link_to '#animatedModal', id: 'modal-video', class: 'btn-ouibeat waves-effect waves-light' do %>
      Voir la vidéo
    <% end %>
    <!-- Link Scroll down -->
    <%= link_to "#", id: 'go-to-button' do %>
      <%= render 'shared/mouse' %>
    <% end %>
  </div>
  <%= render 'shared/social_container' %>
</header>

<%= render 'shared/modal_video' %>

<!-- PROJECTS -->
<section id="who-are-we"class="section-text grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6">
        <h2>Propulseur d'expériences e-sociales</h2>
      </div>
      <div class="col s12 m12 l6">
        <p>Première plateforme de création de social walls événementiels et web dédiée aux marques et aux agences depuis 2013 en France, OuiBeat s’est très rapidement imposé comme un acteur essentiel dans la digitalisation des évènements avec pour principale expertise, l’utilisation des réseaux sociaux.</p>
        <p>Notre start up spécialisée dans la création d’expériences e-sociales intégrées aux activations de marques propose aujourd’hui 3 offres : le social wall, la borne modulable connectée, la conception et le développement digitale.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-offers">
  <div class="container">
    <div class="row">
      <div class="s12">
        <h2>Nos offres</h2>
      </div>
    </div>
    <div class="row offers">
      <div class="col s12 m12 l4 center-align offer">
        <%= image_tag 'shared/icons/icon-socialwall.svg', alt: 'Icon Social >all OuiBeat' %>
        <h3>Social<br>Wall</h3>
        <p>Notre plateforme est utilisée par les plus grandes marques et agences qui ont décidé de placer au coeur de leur stratégie le social brand content et la récupération d’UGC.</p>
        <%= link_to 'En savoir plus', socialwall_path, class: 'btn-ouibeat dark waves-effect waves-light' %>
      </div>
      <div class="col s12 m12 l4 center-align offer">
        <%= image_tag 'shared/icons/icon-borne.svg', alt: 'Icon Borne OuiBeat' %>
        <h3>Borne modulable<br>connectée</h3>
        <p>Parce que le social brand content est la 1ère source d’influence dans la commercialisation d’un produit, nous avons décidé de développer la 1ère borne photo modulable connectée et reliable à notre plateforme de social walls.</p>
        <%= link_to 'En savoir plus', borne_connectee_path, class: 'btn-ouibeat dark waves-effect waves-light' %>
      </div>
      <div class="col s12 m12 l4 center-align offer">
        <%= image_tag 'shared/icons/icon-conception.svg', alt: 'Icon social wall OuiBeat' %>
        <h3>Conception et<br>développement digitale</h3>
        <p>Un pôle de conception / rédaction et dedéveloppement digital est à votre service afin de vous accompagner dans la personnalisation de vos expériences e-sociales « car nous ne pouvons pas répondre à tous les projets et toutes les problématiques d’une seule et même voix ». </p>
        <%= link_to 'En savoir plus', conception_digitale_path, class: 'btn-ouibeat dark waves-effect waves-light' %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/selection' %>

<!-- LOGOS -->
<section class="section-clients">
  <div class="container">
    <h2>Ils nous font confiance</h2>
    <div class="row">
      <%= render partial: "shared/section_clients", locals: {logos: @logos} %>
    </div>
  </div>
</section>

<!-- PORTFOLIO -->
<section class="section-portfolio grey lighten-4">
  <div class="container">
    <div class="row main-row">
      <div class="s12">
        <h2>Portfolio</h2>
      </div>
    </div>
  </div>
  <%= render partial: "shared/section_portfolio" %>
</section>

<section class="section-news">
  <div class="container">
    <div class="row">
      <div class="s12">
        <h2>Notre actualité</h2>
      </div>
    </div>
  </div>
  <div id="embed-ouibeat"></div>
</section>

<section class="section-discover">
  <div class="discover-container-video">
    <h2>Découvrir l'offre OuiBeat<br>en vidéo</h2>
    <%= link_to '#animatedModal', id: 'modal-video-2', class: 'btn-ouibeat waves-effect waves-light' do %>
      Voir la vidéo
    <% end %>
  </div>
</section>


<%= render 'shared/footer' %>


<% content_for :after_js do %>
  <script>
    $(document).ready(function(){

      $("#go-to-button").click(function() {
        $('html,body').animate({
          scrollTop: $("#who-are-we").offset().top
        },'slow');
      });

      $('.portfolio-carousel').slick({
        dots: false,
        arrows: true,
        infinite: true,
        autoplay: true,
        speed: 1500,
        slidesToShow: 1,
        slidesToScroll: 1,
        nextArrow: '<div class="slick-next"><%= image_tag "shared/arrows/arrow-right.svg" %></div>',
        prevArrow: '<div class="slick-prev"><%= image_tag "shared/arrows/arrow-left.svg" %></div>',
      });
    });

    (function(){
      window.ouibeatEmbedSite='http://app.ouibeat.com';
      window.ouibeatEmbedPath='/events/web/eaa977282a03169a89909543183afab997a45784';
      var ob=document.createElement('script');ob.type='text/javascript';ob.async=true;ob.src=window.ouibeatEmbedSite+'/themes/web/assets/js/embed.js';
      var sc=document.getElementsByTagName('script')[0];sc.parentNode.insertBefore(ob, sc);
    }());
 </script>
<% end %>






