<% body_class "socialwall-action" %>

<%= render 'shared/navbar_socialwall' %>

<header>
  <div class="home-header center-align">
    <%= image_tag 'logos/main-logo.svg' %>
    <h1>Le social wall des plus belles activations event + web + mobile</h1>
    <%= link_to "#", class: 'btn-ouibeat waves-effect waves-light' do %>
      Voir la vidéo
    <% end %>

    <%= image_tag 'home/icone-mouse.svg', class: 'icon-mouse' %>
  </div>
  <div class="social-container">
    <i>100% compatible avec :</i>
    <ul>
      <li><%= image_tag 'shared/icons/facebook.svg' %></li>
      <li><%= image_tag 'shared/icons/twitter.svg' %></li>
      <li><%= image_tag 'shared/icons/instagram.svg' %></li>
      <li><%= image_tag 'shared/icons/youtube.svg' %></li>
      <li><%= image_tag 'shared/icons/vimeo.svg' %></li>
      <li><%= image_tag 'shared/icons/periscope.svg' %></li>
      <li><%= image_tag 'shared/icons/linkedin.svg' %></li>
      <li><%= image_tag 'shared/icons/googleplus.svg' %></li>
      <li><%= image_tag 'shared/icons/pinterest.svg' %></li>
      <li><%= image_tag 'shared/icons/vine.svg' %></li>
      <li><%= image_tag 'shared/icons/rss.svg' %></li>
      <li><%= image_tag 'shared/icons/tumblr.svg' %></li>
    </ul>
  </div>
</header>

<section class="section-introduction section-text mask-grey-right">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <h2>Affichage en temps réel<br>et analyse de contenu social</h2>
        <p>OuiBeat est une solution de création de social wall 100% personnalisable, adaptée à l’évènement, au web et au mobile. Grâce à la plateforme OuiBeat, vous agrégez instantanément les meilleurs contenus sociaux, vous animez et faites intéragir votre communauté, tout en développant votre visibilité digitale.</p>
        <p>Génération de leads qualifiés, de trafic sur site web ou encore vecteur de viralité, OuiBeat est le nouvel outil marketing indispensable utilisé par les plus grandes agences et annonceurs dans leur stratégie digitale, mettant en avant le social brand content.</p>
      </div>
      <div class="col s12 m6">
        <%= image_tag 'socialwall/socialwall-introduction.png' %>
      </div>
    </div>
  </div>
</section>

<section class="section-discover">
  <div class="discover-container-solution">
    <h2>Il n'a jamais été aussi simple<br>de personnaliser son social wall !</h2>
    <%= link_to 'Découvrez le fonctionnement', socialwall_plateforme_path, class: 'btn-ouibeat waves-effect waves-light' %>
  </div>
</section>

<section class="section-clients grey lighten-4">
  <div class="container">
    <h2>Ils nous font confiance</h2>
    <div class="row">
      <% @logos.in_groups_of(6) do |logos| %>
        <div class="col s12 logo-container">
           <%= render partial: "logos/shared/section_logos", locals: {logos: logos} %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="section-discover">
  <div class="discover-container-video">
    <h2>Découvrir l'offre OuiBeat<br>en vidéo</h2>
    <%= link_to 'Voir la vidéo', '#', class: 'btn-ouibeat waves-effect waves-light' %>
  </div>
</section>

<section class="section-devices">
  <div class="container">
    <h2>Une plateforme qui<br>s'adapte à tous les besoins</h2>
    <div class="row">
      <div class="col m2 center-align">
        <%= image_tag 'socialwall/icons/icon-socialwall.svg' %>
        <h3>Mur d'écran</h3>
      </div>
      <div class="col m2 center-align">
        <%= image_tag 'socialwall/icons/icon-tv.svg' %>
        <h3>Télévision</h3>
      </div>
      <div class="col m2 center-align">
        <%= image_tag 'socialwall/icons/icon-tablet.svg' %>
        <h3>Tablet</h3>
      </div>
      <div class="col m2 center-align">
        <%= image_tag 'socialwall/icons/icon-laptop.svg' %>
        <h3>Ordinateur</h3>
      </div>
      <div class="col m2 center-align">
        <%= image_tag 'socialwall/icons/icon-mobile.svg' %>
        <h3>Mobile</h3>
      </div>
      <div class="col m2 center-align">
        <%= image_tag 'socialwall/icons/icon-watch.svg' %>
        <h3>Montre</h3>
      </div>
    </div>
    <div class="row center-align" style="padding-top: 45px">
      <%= link_to 'Découvrir les solutions', socialwall_solution_path, class: 'btn-ouibeat dark waves-effect waves-light' %>
    </div>
  </div>
</section>

<section class="section-news">
  <div class="container">
    <div class="row">
      <div class="s12">
        <h2>Notre actualité</h2>
      </div>
    </div>
  </div>
  <div id="embed-ouibeat"></div>
</section>

<section class="section-next grey lighten-4">
  <div class="container">
    <div class="row">
      <h2>Nos autres expertises</h2>
    </div>
  </div>
  <div class="next-container">
    <div class="next-left">
      <div class="next-content">
        <h3>La borne connectée<br>et modulable</h3>
        <%= link_to 'Découvrez la borne', '#', class: 'btn-ouibeat waves-effect waves-light' %>
      </div>
    </div>
    <div class="next-right">
      <div class="next-content">
        <h3>La conception digitale</h3>
        <%= link_to 'Concevez votre projet', '#', class: 'btn-ouibeat waves-effect waves-light' %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>


<% content_for :after_js do %>
  <script>
    (function(){
      window.ouibeatEmbedSite='http://app.ouibeat.com';
      window.ouibeatEmbedPath='/events/web/eaa977282a03169a89909543183afab997a45784';
      var ob=document.createElement('script');ob.type='text/javascript';ob.async=true;ob.src=window.ouibeatEmbedSite+'/themes/web/assets/js/embed.js';
      var sc=document.getElementsByTagName('script')[0];sc.parentNode.insertBefore(ob, sc);
    }());
 </script>
<% end %>