<% body_class "socialwall-action" %>
<% content_for :meta_title, "OuiBeat - Le social wall des plus belles activations" %>
<% content_for :meta_description, "OuiBeat est une solution de création de social wall 100% personnalisable, adaptée à l'événementiel, au web et au mobile. Grâce à la plateforme OuiBeat, vous agrégez instantanément les meilleurs contenus sociaux, vous animez et faites intéragir votre communauté, tout en développant votre visibilité digitale." %>
<% content_for :meta_image, 'assets/images/meta/image.jpg' %>

<%= render 'shared/navbar' %>

<header class="main-layout">
  <div class="header-content center-align">
    <!-- Logo -->
    <%= image_tag 'logos/main-logo.svg', class: 'header-logo' %>
    <!-- Tagline -->
    <h1>Le social wall des plus belles activations event + web + mobile</h1>
    <!-- Link Video -->
    <%= link_to '#animatedModal', id: 'modal-video', class: 'btn-ouibeat waves-effect waves-light' do %>
      Voir la vidéo
    <% end %>
    <!-- Link Scroll down -->
    <%= link_to "#", id: 'go-to-button' do %>
      <%= render 'shared/mouse' %>
    <% end %>
  </div>
  <%= render 'shared/social_container' %>
</header>

<%= render 'shared/modal_video' %>

<section id="socialwall-first-block" class="section-introduction section-text">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6">
        <h2>Affichage en temps réel<br>et analyse de contenu social</h2>
        <p>OuiBeat est une solution de création de social wall 100% personnalisable, adaptée à l’évènement, au web et au mobile. Grâce à la plateforme OuiBeat, vous agrégez instantanément les meilleurs contenus sociaux, vous animez et faites intéragir votre communauté, tout en développant votre visibilité digitale.</p>
        <p>Génération de leads qualifiés, de trafic sur site web ou encore vecteur de viralité, OuiBeat est le nouvel outil marketing indispensable utilisé par les plus grandes agences et annonceurs dans leur stratégie digitale, mettant en avant le social brand content.</p>
      </div>
      <div class="col s12 m12 l6">
        <%= image_tag 'socialwall/socialwall-introduction.png' %>
      </div>
    </div>
  </div>
</section>

<section class="section-discover">
  <div class="discover-container-solution">
    <h2>Il n'a jamais été aussi simple<br>de personnaliser son social wall !</h2>
    <%= link_to 'Découvrez le fonctionnement', socialwall_plateforme_path, class: 'btn-ouibeat waves-effect waves-light' %>
  </div>
</section>

<section class="section-clients grey lighten-4">
  <div class="container">
    <h2>Ils nous font confiance</h2>
    <div class="row">
      <%= render partial: "shared/section_clients", locals: {logos: @logos} %>
    </div>
  </div>
</section>

<section class="section-carousel">
  <h2>Event ou Web<br>à chaque social wall ses usages</h2>
  <div class="carousel-socialwall-main">
    <div class="carousel-socialwall-items carousel-socialwall-item-1">
      <span>Social Wall Web</span>
      <%= image_tag 'socialwall/carousel/socialwall-carousel-item-1.png' %>
      <ul>
        <li>Suivi de comptes sociaux</li>
        <li>Partage instantané sur les réseaux sociaux</li>
        <li>Téléchargement des photos de la borne</li>
        <li>Création de jeu concours</li>
        <li>Connexion à la borne photo OuiBeat</li>
      </ul>
    </div>
    <div class="carousel-socialwall-items carousel-socialwall-item-2">
      <span>Social Wall Event</span>
      <%= image_tag 'socialwall/carousel/socialwall-carousel-item-2.png' %>
      <ul>
        <li>Adaptation à tous types d'écran</li>
        <li>Personalisation et intégration de contenu promotionnel</li>
        <li>Diffusion contenu vidéo, photo, édito</li>
      </ul>
    </div>
  </div>
</section>

<section class="section-exemples">
  <h2>Choissisez votre thème<br>ou faites le 100% sur mesure</h2>
  <div class="socialwall-exemples">
    <%= image_tag 'socialwall/carousel/macbook.png', class: 'mockup-macbook' %>
    <div class="exemples-centered">
      <div>
        <%= image_tag 'socialwall/carousel/screen-obcustom.jpg' %>
        <div class="item-details">
          <span>Social Wall Event - 0B-01</span>
          <i>Bandeau Haut</i>
        </div>
      </div>
      <div class="">
        <%= image_tag 'socialwall/carousel/screen-ob03.jpg' %>
        <div class="item-details">
          <span>Social Wall Event - 0B-01</span>
          <i>Bandeau Haut</i>
        </div>
      </div>
      <div class="">
        <%= image_tag 'socialwall/carousel/screen-ob02.jpg' %>
        <div class="item-details">
          <span>Social Wall Event - 0B-01</span>
          <i>Bandeau Haut</i>
        </div>
      </div>
       <div class="">
        <%= image_tag 'socialwall/carousel/screen-ob01.jpg' %>
        <div class="item-details">
          <span>Social Wall Event - 0B-01</span>
          <i>Bandeau Haut</i>
        </div>
      </div>
       <div class="">
        <%= image_tag 'socialwall/carousel/screen-ob04.jpg' %>
        <div class="item-details">
          <span>Social Wall Event - 0B-01</span>
          <i>Bandeau Haut</i>
        </div>
      </div>
       <div class="">
        <%= image_tag 'socialwall/carousel/screen-obweb.jpg' %>
        <div class="item-details">
          <span>Social Wall Event - 0B-01</span>
          <i>Bandeau Haut</i>
        </div>
      </div>
       <div class="">
        <%= image_tag 'socialwall/carousel/screen-obperiscope.jpg' %>
        <div class="item-details">
          <span>Social Wall Event - 0B-01</span>
          <i>Bandeau Haut</i>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-discover">
  <div class="discover-container-video">
    <h2>Découvrir l'offre OuiBeat<br>en vidéo</h2>
    <%= link_to '#animatedModal', id: 'modal-video-2', class: 'btn-ouibeat waves-effect waves-light' do %>
      Voir la vidéo
    <% end %>
  </div>
</section>

<section class="section-devices">
  <div class="container">
    <h2>Une plateforme qui<br>s'adapte à tous les besoins</h2>
    <div class="row">
      <div class="col s6 m4 l2 offset-l1 center-align">
        <%= image_tag 'socialwall/icons/icon-socialwall.svg' %>
        <h3>Mur d'écran</h3>
      </div>
      <div class="col s6 m4 l2 center-align">
        <%= image_tag 'socialwall/icons/icon-tv.svg' %>
        <h3>Télévision</h3>
      </div>
      <div class="col s6 m4 l2 center-align">
        <%= image_tag 'socialwall/icons/icon-tablet.svg' %>
        <h3>Tablet</h3>
      </div>
      <div class="col s6 m4 offset-m2 l2 center-align">
        <%= image_tag 'socialwall/icons/icon-laptop.svg' %>
        <h3>Ordinateur</h3>
      </div>
      <div class="col s6 offset-s3 m4 l2 center-align">
        <%= image_tag 'socialwall/icons/icon-mobile.svg' %>
        <h3>Mobile</h3>
      </div>
    </div>
    <div class="row center-align" style="padding-top: 45px">
      <%= link_to 'Découvrir les solutions', socialwall_solution_path, class: 'btn-ouibeat dark waves-effect waves-light' %>
    </div>
  </div>
</section>

<!-- PORTFOLIO -->
<section class="section-portfolio grey lighten-4">
  <div class="container">
    <div class="row main-row">
      <div class="s12">
        <h2>Portfolio</h2>
      </div>
    </div>
  </div>
  <%= render partial: "shared/section_portfolio" %>
</section>

<section class="section-news">
  <div class="container">
    <div class="row">
      <div class="s12">
        <h2>Notre actualité</h2>
      </div>
    </div>
  </div>
  <div id="embed-ouibeat"></div>
</section>

<section class="section-next grey lighten-4">
  <h2>Nos autres expertises</h2>
  <div class="next-container">
    <div class="next-left">
      <div class="next-content">
        <h3>La borne connectée<br>et modulable</h3>
        <%= link_to 'Découvrez la borne', borne_connectee_path, class: 'btn-ouibeat waves-effect waves-light' %>
      </div>
    </div>
    <div class="next-right">
      <div class="next-content">
        <h3>La conception digitale</h3>
        <%= link_to 'Concevez votre projet', conception_digitale_path, class: 'btn-ouibeat waves-effect waves-light' %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>

<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      $("#go-to-button").click(function() {
        $('html,body').animate({
          scrollTop: $("#socialwall-first-block").offset().top
        },'slow');
      });

      $('.carousel-socialwall-main').slick({
        dots: false,
        arrows: true,
        infinite: true,
        // autoplay: true,
        // speed: 1500,
        slidesToShow: 1,
        slidesToScroll: 1,
        nextArrow: '<div class="slick-next"><%= image_tag "shared/arrows/arrow-right.svg" %></div>',
        prevArrow: '<div class="slick-prev"><%= image_tag "shared/arrows/arrow-left.svg" %></div>',
      });

      $('.exemples-centered').slick({
        centerMode: true,
        dots: false,
        arrows: true,
        infinite: false,
        centerPadding: '60px',
        slidesToShow: 3,
        draggable: true,
        initialSlide: 0,
        swipe: true,
        touchMove: true,
        nextArrow: '<div class="slick-next"><%= image_tag "shared/arrows/arrow-right.svg" %></div>',
        prevArrow: '<div class="slick-prev"><%= image_tag "shared/arrows/arrow-left.svg" %></div>',
        responsive: [
          {
            breakpoint: 992,
            settings: {
              arrows: true,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }
        ]
      });
    });

    $('.slick-prev').html('something');
    $('.slick-next').html('something');

    (function(){
      window.ouibeatEmbedSite='http://app.ouibeat.com';
      window.ouibeatEmbedPath='/events/web/eaa977282a03169a89909543183afab997a45784';
      var ob=document.createElement('script');ob.type='text/javascript';ob.async=true;ob.src=window.ouibeatEmbedSite+'/themes/web/assets/js/embed.js';
      var sc=document.getElementsByTagName('script')[0];sc.parentNode.insertBefore(ob, sc);
    }());
 </script>
<% end %>
