<% body_class "socialwall-solution-action" %>
<% content_for :meta_title, "OuiBeat - Le social wall des plus belles activations" %>
<% content_for :meta_description, "OuiBeat est une solution de création de social wall 100% personnalisable, adaptée à l'événementiel, au web et au mobile. Grâce à la plateforme OuiBeat, vous agrégez instantanément les meilleurs contenus sociaux, vous animez et faites intéragir votre communauté, tout en développant votre visibilité digitale." %>
<% content_for :meta_image, 'meta/socialwall-meta.jpg' %>

<%= render 'shared/navbar' %>

<header class="second-layout">
  <h1>Une plateforme qui s'adapte à toutes les solutions</h1>
  <%= link_to "#", id: 'go-to-button' do %>
    <%= render 'shared/mouse' %>
  <% end %>
</header>

<section class="section-text content-bloc bloc-1">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6">
       <h2>Donnez la parole<br>à votre communauté</h2>
        <p>Qui est mieux placé que votre communauté pour témoigner et appuyer vos campagnes marketing? </p>
        <p>Grâce à OuiBeat, vous offrez l’expérience utilisateur la plus complète possible autour de vos activations et entretenez un lien affectif avec votre cible bien au delà du simple événement.</p>
      </div>
      <div class="col s12 m12 l6 picture-bloc-right">
       <%= image_tag 'socialwall/socialwall-graph.png'%>
      </div>
    </div>
  </div>
</section>

<section class="section-text content-bloc bloc-2">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6 picture-bloc-left">
        <%= image_tag 'socialwall/socialwall-solutions.png'%>
      </div>
      <div class="col s12 m12 l6">
        <h2>Une solution, de multiples<br>concepts d'animation</h2>
        <p>Grâce à ses différentes solutions clé en mains et connectées entre elles, OuiBeat permet de créer des expériences e-sociales originales et intégrées aux activations de marques. </p>
        <p>Création de social wall multi supports augmentant le trafic vers votre site web, mise en place de jeux concours favorisant l’engagement sur les réseaux sociaux ou encore génération de lead qualifiés sont des objectifs très facilement atteignables grâce à OuiBeat.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-text grey lighten-4 bloc-3">
  <div class="side-description">
    <div class="description-content">
      <h2>Viralisez votre<br>environnement</h2>
      <p>En créant de magnifiques affichages à votre image, OuiBeat encourage le bouche-à-oreille positif autour de votre événement. En plus d’afficher le meilleur contenu social, grâce à notre solution, vous analysez les conversations et augmentez l’engagement de votre communauté.</p>
      <p>Laissez le public devenir acteur de votre événement. Les photos, tweets, vidéos sont autant de médias susceptible d’enrichir votre événement et de le viraliser.</p>
      <p>Regroupez ces contenus sur un seul et même écran et affichez ainsi votre réussite.</p>
    </div>
  </div>
  <div class="side-picture">
    <!-- After -->
  </div>
</section>

<section class="section-text content-bloc bloc-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6 picture-bloc-left">
        <%= image_tag 'socialwall/socialwall-dynamism.png'%>
      </div>
      <div class="col s12 m12 l6">
        <h2>Dynamisez votre<br>site web</h2>
        <p>Regroupez tous vos réseaux sociaux sur votre site web, de façon esthétique, responsive et interactive. Mettez en avant vos actualités, contenus de marque et donnez la parole à votre communauté. Ceux-ci peuvent interagir, partager tout le contenu désiré directement depuis votre social wall, décuplant ainsi votre visibilité digitale.</p>
        <p>Sélectionnez facilement et efficacement vos meilleurs influenceurs, récompensez les utilisateurs via des jeux concours et gérez ainsi votre stratégie e-sociale depuis notre plateforme.</p>
      </div>
    </div>
  </div>
</section>

<section class="section-text grey lighten-4 bloc-5">
  <div class="side-description">
    <div class="description-content">
      <h2>Animez votre<br>point de vente</h2>
      <p>Animation du lieu, digitalisation de lancement de produit, OuiBeat s’adapte à vos différents besoins.</p>
      <p>Plus qu’un simple outil de diffusion de contenu social, OuiBeat propose de véritables concepts d’animation, vous permettant ainsi de dynamiser votre espace et de recueillir des informations qualifiées sur votre clientèle.</p>
    </div>
  </div>
  <div class="side-picture">
    <!-- After -->
  </div>
</section>


<%= render 'shared/footer' %>


<% content_for :after_js do %>
<% end %>