<% body_class "socialwall-plateforme-action" %>
<% content_for :meta_title, "OuiBeat - Le social wall des plus belles activations" %>
<% content_for :meta_description, "OuiBeat est une solution de création de social wall 100% personnalisable, adaptée à l'événementiel, au web et au mobile. Grâce à la plateforme OuiBeat, vous agrégez instantanément les meilleurs contenus sociaux, vous animez et faites intéragir votre communauté, tout en développant votre visibilité digitale." %>
<% content_for :meta_image, 'meta/socialwall-meta.jpg' %>

<%= render 'shared/navbar' %>

<header class="second-layout">
  <h1>Il n'a jamais été aussi simple de concevoir son social wall</h1>
  <%= link_to "#", id: 'go-to-button' do %>
    <%= render 'shared/mouse' %>
  <% end %>
</header>

<section class="section-text content-bloc bloc-1">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6">
        <h2>Centralisez le contenu<br>de tous vos réseaux sociaux</h2>
        <p>OuiBeat vous permet de centraliser au même endroit l’ensemble de vos réseaux sociaux.</p>
        <p>Un seul et même espace où retrouver les dernières actualités de votre marque et les meilleurs réactions de votre communauté.</p>
      </div>
      <div class="col s12 m12 l6 picture-bloc-right">
        <%= image_tag 'socialwall/socialwall-network.png', :style => 'width: 70%' %>
      </div>
    </div>
  </div>
</section>

<section class="section-carousel bloc-2">
  <div class="container center-align">
    <h2>Créez les plus beaux<br>social walls</h2>
    <p>Sélectionnez les réseaux sociaux, les hashtags, vos comptes de marques ou d’influenceurs que vous souhaitez activer, intégrez votre propre contenu de marque et personnalisez l’affichage de votre social wall à votre besoin et votre image.</p>
    <p>Choisissez parmi nos thèmes pré-configurés ou développez votre propre affichage sur-mesure grâce à notre équipe de développeurs.</p>
  </div>

  <div class="socialwall-exemples">
    <%= image_tag 'socialwall/carousel/macbook.png', class: 'mockup-macbook' %>
    <div class="exemples-centered">
      <div>
        <%= image_tag 'socialwall/carousel/screen-obcustom.jpg' %>
        <div class="item-details">
          <span>Social Wall sur mesure</span>
          <i></i>
        </div>
      </div>
      <div class="">
        <%= image_tag 'socialwall/carousel/screen-ob03.jpg' %>
        <div class="item-details">
          <span>Social Wall Event OB-03</span>
          <i>Bandeau haut et bas</i>
        </div>
      </div>
      <div class="">
        <%= image_tag 'socialwall/carousel/screen-ob02.jpg' %>
        <div class="item-details">
          <span>Social Wall Event 0B-02</span>
          <i>Bandeau bas</i>
        </div>
      </div>
       <div class="">
        <%= image_tag 'socialwall/carousel/screen-ob01.jpg' %>
        <div class="item-details">
          <span>Social Wall Event 0B-01</span>
          <i>Bandeau haut</i>
        </div>
      </div>
       <div class="">
        <%= image_tag 'socialwall/carousel/screen-ob04.jpg' %>
        <div class="item-details">
          <span>Social Wall Event 0B-04</span>
          <i>Sans bandeau</i>
        </div>
      </div>
       <div class="">
        <%= image_tag 'socialwall/carousel/screen-obweb.jpg' %>
        <div class="item-details">
          <span>Social Wall Web</span>
          <i></i>
        </div>
      </div>
       <div class="">
        <%= image_tag 'socialwall/carousel/screen-obperiscope.jpg' %>
        <div class="item-details">
          <span>Social Wall Periscope</span>
          <i></i>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-text content-bloc bloc-3">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6 picture-bloc-left">
        <%= image_tag 'socialwall/socialwall-moderation.png' %>
      </div>
      <div class="col s12 m12 l6">
        <h2>Contrôlez<br>le contenu diffusé</h2>
        <p>Gardez le contrôle de votre événement. Grâce à la plateforme de modération, vous sélectionnez très facilement et rapidement le contenu que vous souhaitez diffuser sur le social wall.</p>
        <p>Des influenceurs présents sur votre événement? Certifiez leurs comptes et mettez ainsi en avant automatiquement leurs meilleurs contributions. La solution OuiBeat étant responsive, la modération peut être effectuée de manière très simple, sur ordinateur comme sur smartphone, sur le lieu de votre événement ou à distance</p>
      </div>
    </div>
  </div>
</section>

<section class="section-text content-bloc bloc-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l6">
        <h2>Mesurez le retour<br>sur investissement</h2>
        <p>Grâce à notre outil d’analyse en temps réel, visualisez l’engagement de votre communauté sur les réseaux sociaux, les temps forts de votre activation et identifiez vos principaux influenceurs générant le plus d’interactions. </p>
        <p>Récupérez également l’intégralité du contenu généré pendant votre événement par simple téléchargement.</p>
      </div>
      <div class="col s12 m12 l6 picture-bloc-right">
        <%= image_tag 'socialwall/socialwall-stats.png' %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>


<%= content_for :after_js do %>
  <script>
    $(document).ready(function(){

      $('.exemples-centered').slick({
        centerMode: true,
        dots: false,
        arrows: true,
        infinite: false,
        centerPadding: '60px',
        slidesToShow: 3,
        draggable: true,
        initialSlide: 0,
        swipe: true,
        touchMove: true,
        nextArrow: '<div class="slick-next"><%= image_tag "shared/arrows/arrow-right.svg" %></div>',
        prevArrow: '<div class="slick-prev"><%= image_tag "shared/arrows/arrow-left.svg" %></div>',
        responsive: [
          {
            breakpoint: 992,
            settings: {
              arrows: true,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 3
            }
          },
          {
            breakpoint: 420,
            settings: {
              arrows: true,
              centerMode: true,
              centerPadding: '40px',
              slidesToShow: 1
            }
          }
        ]
      });
    });
  </script>
<% end %>