<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <%= simple_form_for(@project) do |f| %>
        <%= f.input :name %>
        <%= f.input :category, collection: ["Social Wall", "Borne", "Conception"], prompt: 'Sélectionnez une catégorie' %>
        <%= f.input :date %>
        <%= f.input :title %>
        <%= f.input :picture, as: :attachinary %>
        <%= f.input :logo, as: :attachinary %>
        <%= f.input :active, collection: [['Oui', true ], ['Non', false ]] %>
        <%= f.submit "Sauvegarder", class: "waves-effect waves-light btn" %>
      <% end %>
      <!-- BACK TO index projects -->
      <%= link_to admin_path(anchor: "projects") do %>
        <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">skip_previous</i></p>
      <% end %>
    </div>
  </div>
</div>


