<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <%= simple_form_for(@project) do |f| %>
        <%= f.input :name %>
        <%= f.input :title %>
        <%= f.input :sub_title %>
        <%= f.input :text %>
        <div>
          <% f.object.pictures.each do |picture| %>
            <%= cl_image_tag picture.path, width: 100, crop: :fill %>
          <% end %>
        </div>
        <%= f.input :pictures, as: :attachinary %>
        <%= f.input :logo, as: :attachinary %>
        <div>
          <% if f.object.logo? %>
            <%= cl_image_tag f.object.logo.path, width: 100, crop: :fill %>
          <% end %>
        </div>
        <%= f.submit "Sauvegarder", class: "waves-effect waves-light btn" %>
      <% end %>
    </div>
  </div>
</div>
