<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <%= simple_form_for(@project) do |f| %>
        <%= f.input :category, collection: ["Social Wall", "Borne", "Conception"], prompt: 'Sélectionnez une catégorie' %>
        <%= f.input :name %>
        <%= f.input :title %>
        <%= f.input :date %>
        <%= f.input :picture, as: :attachinary %>
        <%= f.input :logo, as: :attachinary %>
        <%= f.input :active, collection: [['Oui', true ], ['Non', false ]] %>
        <%= f.submit "Créer", class: "waves-effect waves-light btn" %>
      <% end %>
    </div>
  </div>
</div>
