<% body_class "project-detail" %>

<%= render 'shared/navbar' %>

<header>
  <% if @project.picture.present? %>
    <%= cl_image_tag @project.picture.path, class: 'project-header' %>
  <% end %>
</header>

<section class="section-text">
  <div class="container">
    <div class="row">
      <div class="col s12 m10 offset-m1 l8 offset-l2">
        <h1><%= @project.title %></h1>
        <p class="label">Date :<span> <%= I18n.l @project.date, format: :short %> <%= @project.date.year %></span></p>
        <p class="label">Announceur :<span> <%= @project.name %></span></p>
        <%= image_tag icon_category_path(@project.category), class: 'icon-category' %>
      </div>
    </div>
  </div>
</section>

<% @details.each do |detail| %>
  <% if detail.link.present? %>
    <section class="section-video grey lighten-4">
      <div class="container">
        <div class="row">
            <%= cl_image_tag detail.pictures.first.path %>
            <div class="video-details">
              <h3 class="title-small"><%= @project.title %></h3>
              <!-- Link Video -->
              <%= link_to '#animatedModal', id: 'modal-video', class: 'btn-ouibeat waves-effect waves-light' do %>
                Voir la vidéo
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: 'shared/modal_video', locals: {source: detail.link} %>
    </section>
  <% else %>
    <section class="section-subsections">
      <div class="container">
        <div class="row">
          <div class="col s12 m10 offset-m1 l8 offset-l2">
            <p><%= detail.text %></p>
            <% if detail.pictures[1].present? %>
              <div class="two-pictures">
                <%= cl_image_tag detail.pictures[0].path %>
                <%= cl_image_tag detail.pictures[1].path %>
              </div>
            <% else %>
              <div class="one-picture">
                <%= cl_image_tag detail.pictures[0].path %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<% end %>

<section class="section-other-projects">
  <h2>Découvrez nos autres cas</h2>
  <div class="other-projects-carousel">
    <% @projects.in_groups_of(2) do |projects| %>
     <div class="other-projects-carousel-item">
        <div class="next-project-left">
          <% if projects[0].present? %>
            <%= cl_image_tag(projects[0].picture.path) %>
            <div class="next-project-content">
              <h3><%= projects[0].name %> - <%= projects[0].title %></h3>
              <%= link_to 'Découvrez le projet', project_path(projects[0].id), class: 'btn-ouibeat waves-effect waves-light' %>
            </div>
          <% end %>
        </div>
        <div class="next-project-right">
          <% if projects[1].present? %>
            <%= cl_image_tag(projects[1].picture.path) %>
            <div class="next-project-content">
              <h3><%= projects[1].name %> - <%= projects[1].title %></h3>
              <%= link_to 'Découvrez le projet', project_path(projects[1].id), class: 'btn-ouibeat waves-effect waves-light' %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<%= render 'shared/footer' %>


<% content_for :after_js do %>
  <script>
    $(document).ready(function(){
      $('.next-carousel').slick({
        dots: false,
        arrows: true,
        infinite: true,
        autoplay: false,
        speed: 1500,
        slidesToShow: 1,
        slidesToScroll: 1,
        nextArrow: '<div class="slick-next"><%= image_tag "shared/arrows/arrow-right.svg" %></div>',
        prevArrow: '<div class="slick-prev"><%= image_tag "shared/arrows/arrow-left.svg" %></div>',
      });

      $('.other-projects-carousel').slick({
        dots: false,
        arrows: true,
        infinite: false,
        autoplay: false,
        speed: 1500,
        slidesToShow: 1,
        slidesToScroll: 1,
        nextArrow: '<div class="slick-next"><%= image_tag "shared/arrows/arrow-right.svg" %></div>',
        prevArrow: '<div class="slick-prev"><%= image_tag "shared/arrows/arrow-left.svg" %></div>',
      });
    });
  </script>
<% end %>
