<div class="container">
  <ul class="collection">
    <% @logos.each do |logo| %>
      <li class="collection-item">
        <span class="title"><%= logo.name %></span>
        <%= image_tag logo.picture.url(:thumb) %>
        <span class="position"><%= logo.position %></span>
         <!-- EDIT LOGO -->
        <%= link_to edit_logo_path(logo[:id]) do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></p>
        <% end %>
        <!-- DELETE LOGO -->
        <%= link_to logo_path(logo[:id]), method: :delete do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <!-- NEW LOGO -->
    <%= link_to new_logo_path do %>
      <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></p>
    <% end %>
</div>
