<% body_class "admin" %>

<%= render 'shared/sidebar_admin' %>

<div class="page-content">
  <div class="page-header">
    <h3>Mise à jour logo</h3>
    <!-- BACK TO index logos -->
    <%= link_to admin_path do %>
      <div class="btn-go-back waves-effect waves-light"><i class="material-icons">navigate_before</i>Retour à la page précédente</div>
    <% end %>
  </div>
  <div class="content-container">
    <%= simple_form_for [:admin, @logo] do |f| %>
      <%= f.input :name, :label => "Nom de l'annonceur" %>
      <%= f.input :link, :label => "Lien vers le site de l'annonceur" %>
      <% if f.object.picture? %>
        <%= cl_image_tag f.object.picture.path, class: 'picture-preview' %>
      <% end %>
      <%= f.input :picture, as: :attachinary, :label => "Sélectionner le logo" %>
      <%= f.submit "Mettre à jour", class: "btn-add-content waves-effect waves-light" %>
    <% end %>
  </div>
</div>
