<% body_class "admin" %>

<%= render 'shared/sidebar_admin' %>

<div class="container">
  <h3>Liste des logos</h3>
  <ul class="collection">
    <% @logos.each do |logo| %>
      <li class="collection-item">
        <p class="title">Soutien : <%= logo.name %></p>
        <p>Logo :</p>
        <% if logo.picture? %>
          <%= cl_image_tag logo.picture.path, width: 100, height: 100, crop: :fill %>
        <% end %>
        <span class="position"><%= logo.position %></span>
         <!-- EDIT LOGO -->
        <%= link_to edit_admin_logo_path(logo[:id]) do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">edit</i></p>
        <% end %>
        <!-- DELETE LOGO -->
        <%= link_to admin_logo_path(logo[:id]), method: :delete do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></p>
        <% end %>
        <!-- MOVE DOWN LOGO -->
        <%= link_to admin_logos_move_lower_path(id: logo[:id]) do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">keyboard_arrow_down</i></p>
        <% end %>
        <!-- MOVE DOWN LOGO -->
        <%= link_to admin_logos_move_higher_path(id: logo[:id]) do %>
          <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">keyboard_arrow_up</i></p>
        <% end %>
      </li>
    <% end %>
  </ul>
  <!-- NEW LOGO -->
  <%= link_to new_admin_logo_path do %>
    <p class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></p>
  <% end %>
</div>

