<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/shared/head" %>
    <%= render "layouts/shared/google_analytics" %>
  </head>
  <body class="<%= yield (:body_class) %>">
    <!-- <#= render 'shared/flashes' #> -->
    <%= yield %>
    <!-- app/views/layouts/application.html.erb -->
    <%= render "layouts/shared/js" %>
    <%= yield(:after_js) %>
  </body>
</html>

